.chart {
  // background: #fff;
  text-align: center;
  padding: 28px;
  border-radius: 26px;
}
.char_imgt {
  // background: #fff;
  text-align: center;
  padding: 19px;
  border-radius: 25px;
  width: 41%;
}
p.road_ipo {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

input.input_contact {
  width: 100%;
  height: 41px;
  // background: #f9f9f9;
  border: none;
  padding: 0 0 0 10px;
}
button.btn-wht {
  // background: #fff;
  border-radius: 11px;
}

@media screen and (min-device-width: 300px) and (max-device-width: 599px) {
  .mar_t {
    margin: 0 0 10px 0;
  }
}
@media screen and (min-device-width: 600px) and (max-device-width: 768px) {
  .char_imgt {
    width: 50%;
  }
}
