<section style="background: #F6F6F6; height: 100vh;">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-12 ">
                <h3>Course Information</h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="createCourse" (ngSubmit)="onSubmit()" class="form-bg">
                    <div class="form-row">
                        <div class="form-group col-5 mr-3">
                            <label>Course Title</label>
                            <input type="text" formControlName="courseTitle" class="form-control input_field_bg" [ngClass]="{ 'is-invalid': submitted && f.courseTitle.errors }" />
                            <div *ngIf="submitted && f.courseTitle.errors" class="invalid-feedback">
                                <div *ngIf="f.courseTitle.errors.required">Course is required</div>
                            </div>
                        </div>
                        <!-- <div class="form-group col-5">
                            <label>Date</label> <br>
                            <input type="date" id="birthday" name="birthday" class="date-picker" formControlName="datePicker" [ngClass]="{ 'is-invalid': submitted && f.datePicker.errors }">
                            <div *ngIf="submitted && f.datePicker.errors" class="invalid-feedback">
                                <div *ngIf="f.datePicker.errors.required">Date is required</div>
                            </div>
                        </div> -->
                    </div>
                    <div class="form-row">
                        <div class="form-group col-5">
                            <!-- <label>Description</label> <br> -->
                            <label>Course subtitle (optional)</label> <br>
                            <!-- <input type="text" formControlName="firstName" class="form-control description_input" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" /> -->
                            <textarea name="description" id="" class="text-area form-control" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                <div *ngIf="f.description.errors.required">First Name is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <!-- <label>Course Provider</label> -->
                        <label>Select author</label>
                        <select formControlName="courseProvider" class="form-control select_size" [ngClass]="{ 'is-invalid': submitted && f.courseProvider.errors }">
                            <option value="Admin">Admin</option>
                            <option value="Course Provider">Course Provider<option>
                        </select>
                        <div *ngIf="submitted && f.courseProvider.errors" class="invalid-feedback">
                            <div *ngIf="f.courseProvider.errors.required">Course Provider is required</div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-create mr-1">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>