section.table-list {
    padding: 31px 0;
    height: 100vh;
}

button.btn-action {
    background: #229B9F;
    color: #ffffff;
    padding: 2px 16px;
    border-radius: 30px;
}

td.title {
    cursor: pointer;
    text-decoration: underline;
}

span.lorem_span {
    font-size: 15px;
}

a.btn_course {
    background: #229b9f;
    color: #fff;
    margin-bottom: 20px;
}