<div class="container-fluid">
    <div class="row">
        <main class="col-md-12 float-left col px-5 px-md-3 py-3 main" id="home-dash" [ngClass]="darkMode ? 'dark-bg' : 'light-bg'">

            <app-common-header></app-common-header>

            <div class="pl-2 pt-2 pb-2 pad">
                <div class="row mt-4 px-3">
                    <div class="col-md-12 border-bottom pb-3 px-0">
                        <div class="d-flex justify-content-between">
                            <h4>Welcome Back <span> Doug!!! </span></h4>
                            <a class="btn btn_course">&#43; Create course</a>
                        </div>
                    </div>
                </div>
                <section class="widget-section mt-4">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="widget">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="../../../../../assets/images/Icons.png" alt="">
                                        </div>
                                        <div class="col-md-9">
                                            <p class="wid_title">Total Creations</p>
                                            <h5>10</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="widget">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="../../../../../assets/images/Icons (1).png" alt="">
                                        </div>
                                        <div class="col-md-9">
                                            <p class="wid_title">Total Creations</p>
                                            <h5>10</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="widget">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="../../../../../assets/images/Icons (2).png" alt="">
                                        </div>
                                        <div class="col-md-9">
                                            <p class="wid_title">Total Creations</p>
                                            <h5>10</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="widget-slide mt-5">
                    <div class="container-fluid">
                        <div class="row mt-4">
                            <div class="col-md-8">
                                <h5>Guide</h5>
                                <div class="row mt-3">
                                    <div class="col-md-5 pr-4">
                                        <div class="widget-wid">
                                            <div class="row">
                                                <div class="col-md-12 text-right">
                                                    <img class="pro_img" src="../../../../../assets/images/Ellipse 6.png" alt="">
                                                </div>
                                                <div class="col-md-12">
                                                    <p class="new_here_p">New Here?</p>
                                                    <p class="guid_p">Guide to <br> new course <br> Creation!
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 pl-4">
                                        <div class="widget-wid">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p class="new_here_p mt-5">Existing Creator?</p>
                                                    <p class="guid_p">View Your Courses
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-right">
                                <div class="text-right">
                                    <i class="fa fa-chevron-left mr-3" aria-hidden="true"></i>
                                    <i class="fa fa-chevron-right ml-3" aria-hidden="true"></i>
                                </div>
                                <img class="rectangle_img mt-3" src="../../../../../assets/images/Rectangle 71.png" alt="">
                                <div class="text-left">
                                    <h6 class="master_p">Mastering Capital Wisdom</h6>
                                    <p class="current_p">Currently at pricing stage</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="todays-progress mt-5">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Today’s Progress</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="widget_small">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-5">
                                            <span class="power_small">Powerful Habits</span>
                                            <p class="percent_span">75%</p>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <img class="round_img" src="../../../../../assets/images/round-square.png" alt="">
                                            <span class="power_small-1">In Progress</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <div class="widget_small">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-5">
                                            <span class="power_small">Time Management</span>
                                            <p class="percent_span">11%</p>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <img class="round_img" src="../../../../../assets/images/round-square.png" alt="">
                                            <span class="power_small-1">In Progress</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </main>
    </div>
</div>
