<div class="container-fluid">
    <div class="row">
        <main class="col-md-12 float-left col px-5 px-md-3 py-3 main" id="home-dash" [ngClass]="darkMode ? 'dark-bg' : 'light-bg'">

            <app-common-header></app-common-header>

            <!-- <div class="pl-2 pt-2 pb-2 pad">
                <div class="row mt-4 px-3">
                    <div class="col-md-12 border-bottom pb-3 px-0">
                        <div class="d-flex justify-content-between">
                            <h4>Welcome Back <span> Doug!!! </span></h4>
                            <a class="btn btn_course">&#43; Create course</a>
                        </div>
                    </div>
                </div>
                <section class="widget-section mt-4">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="widget">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="../../../../../assets/images/Icons.png" alt="">
                                        </div>
                                        <div class="col-md-9">
                                            <p class="wid_title">Total Creations</p>
                                            <h5>10</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="widget">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="../../../../../assets/images/Icons (1).png" alt="">
                                        </div>
                                        <div class="col-md-9">
                                            <p class="wid_title">Total Creations</p>
                                            <h5>10</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="widget">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="../../../../../assets/images/Icons (2).png" alt="">
                                        </div>
                                        <div class="col-md-9">
                                            <p class="wid_title">Total Creations</p>
                                            <h5>10</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="widget-slide mt-5">
                    <div class="container-fluid">
                        <div class="row mt-4">
                            <div class="col-md-8">
                                <h5>Guide</h5>
                                <div class="row mt-3">
                                    <div class="col-md-5 pr-4">
                                        <div class="widget-wid">
                                            <div class="row">
                                                <div class="col-md-12 text-right">
                                                    <img class="pro_img" src="../../../../../assets/images/Ellipse 6.png" alt="">
                                                </div>
                                                <div class="col-md-12">
                                                    <p class="new_here_p">New Here?</p>
                                                    <p class="guid_p">Guide to <br> new course <br> Creation!
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 pl-4">
                                        <div class="widget-wid">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p class="new_here_p mt-5">Existing Creator?</p>
                                                    <p class="guid_p">View Your Courses
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-right">
                                <div class="text-right">
                                    <i class="fa fa-chevron-left mr-3" aria-hidden="true"></i>
                                    <i class="fa fa-chevron-right ml-3" aria-hidden="true"></i>
                                </div>
                                <img class="rectangle_img mt-3" src="../../../../../assets/images/Rectangle 71.png" alt="">
                                <div class="text-left">
                                    <h6 class="master_p">Mastering Capital Wisdom</h6>
                                    <p class="current_p">Currently at pricing stage</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="todays-progress mt-5">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Today’s Progress</h5>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-5">
                                <div class="widget_small">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-5">
                                            <span class="power_small">Powerful Habits</span>
                                            <p class="percent_span">75%</p>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <img class="round_img" src="../../../../../assets/images/round-square.png" alt="">
                                            <span class="power_small-1">In Progress</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <div class="widget_small">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-5">
                                            <span class="power_small">Time Management</span>
                                            <p class="percent_span">11%</p>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <img class="round_img" src="../../../../../assets/images/round-square.png" alt="">
                                            <span class="power_small-1">In Progress</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div> -->
            <!-- ------------------- -->
            <div class="pl-2 pt-2 pb-2 pad">
                <div class="row mt-4 px-3">
                    <div class="col-md-12 border-bottom pb-1 px-0">
                        <h4>What product do you want to create? </h4>
                    </div>
                </div>
                <section class="mt-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bg_color">
                                    <div class="row">
                                        <div class="col-md-6 text-center" *ngFor="let topic of topics; index as i">
                                            <div class="select_box" [ngClass]="[topic.active === true ? 'bg-grenish-box' : 'select_box'
                                            ]" (click)="selectedTopics(topic)">
                                                <img [src]='topic.image'>
                                                <h3 class="h3_course">{{topic.name}}</h3>
                                                <p class="with_para">{{topic.para}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-5">
                                        <div class="col-md-12 text-center">
                                            <a class="btn btn_next">Next</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- ------------------- -->
            <!-- <div class="pl-2 pt-2 pb-2 pad">
                <div class="row mt-4 px-3">
                    <div class="col-md-12 border-bottom pb-1 px-0">
                        <h4>Course Information </h4>
                    </div>
                    <p class="lorem_p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.</p>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="bg_colorr">
                            <div class="row">
                                <div class="col-md-9">
                                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <label class="title-label">Course title</label>
                                                <input type="text" formControlName="title" class="form-control form-input" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                                                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                                    <div *ngIf="f.title.errors.required">Title is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <label class="title-label">Course subtitle (optional)</label>
                                                <input type="text" formControlName="courseSubtitle" class="form-control form-input" [ngClass]="{ 'is-invalid': submitted && f.courseSubtitle.errors }" />
                                                <div *ngIf="submitted && f.courseSubtitle.errors" class="invalid-feedback">
                                                    <div *ngIf="f.courseSubtitle.errors.required">Course Subtitle is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <label class="title-label">Select author</label>
                                                <input type="text" formControlName="selectAuthor" class="form-control form-input" [ngClass]="{ 'is-invalid': submitted && f.selectAuthor.errors }" />
                                                <div *ngIf="submitted && f.selectAuthor.errors" class="invalid-feedback">
                                                    <div *ngIf="f.selectAuthor.errors.required">Select Author is required</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="text-right mt-3">
                                            <button class="btn btn-register mr-1">Next</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- ------------------- -->
            <!-- <div class="pl-2 pt-2 pb-2">
                <div class="row mt-4 px-3">
                    <div class="col-md-4">
                        <div class="input_parent" [ngClass]="darkMode ? 'dark-card-bg' : 'light-card-bg'">
                            <input [ngClass]="darkMode ? 'dark-card-bg' : 'light-card-bg'" type="text" placeholder="Search" class="input_search-filed" />
                            <button class="btn btn_search">
                            <i class="fa fa-search" [ngClass]="darkMode ? 'dark-text' : 'light-text'" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-8"></div>
                </div>
            </div> -->
            <!-- <div class="pl-2 pt-2 pb-2">
                <div class="row mt-4 px-3">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead class="table">
                                <tr class="tr_border">
                                    <td scope="col" class="td_check">
                                        <input type="checkbox" class="check">
                                    </td>
                                    <td scope="col" class="td_title">First Lecture</td>
                                    <td scope="col" class="lorem_p">Lorem ipsum dolor sit amet, consectetur...</td>
                                    <td scope="col"></td>
                                    <td scope="col"></td>
                                    <td scope="col"></td>
                                    <td scope="col" class="td_field_btn">
                                        <a class="btn btn-draft"> Draft</a>
                                    </td>
                                    <td scope="col" class="td_field">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <i class="fa fa-trash px-4" aria-hidden="true"></i>
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" class="td_check">
                                        <input type="checkbox" class="check">
                                    </th>
                                    <td class="td_title">New Lecture</td>
                                    <td scope="col" class="lorem_p">Lorem ipsum dolor sit amet, consectetur...</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td scope="col" class="td_field_btn">
                                        <a class="btn btn-active"> Active</a>
                                    </td>
                                    <td scope="col" class="td_field">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <i class="fa fa-trash px-4" aria-hidden="true"></i>
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="td_check">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    </th>
                                    <td class="td_title-1">Add New Lecture</td>
                                    <td scope="col" class="lorem_p"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td scope="col" class="td_field_btn">
                                    </td>
                                    <td scope="col" class="td_field">

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div> -->


        </main>
    </div>
</div>