h4 span {
    color: #229B9F;
}

a.btn_course {
    background: #229b9f;
    color: #fff;
    border-radius: 8px;
}

.widget {
    background: #fff;
    padding: 21px 21px 11px 21px;
    border-radius: 12px;
    border: 1px solid #DDDFE5;
}

p.wid_title {
    font-size: 15px;
    font-weight: 600;
    color: #929292;
    margin: 0 0 8px 0;
}

.widget-wid {
    background: #229b9f;
    color: #fff;
    padding: 40px 21px;
    border-radius: 20px;
    height: 278px;
}

p.new_here_p {
    font-size: 15px;
    color: #e7e2e2;
}

p.guid_p {
    font-size: 32px;
    line-height: 37px;
    font-weight: 600;
}

img.pro_img {
    width: 23%;
}

.widget_small {
    background: #fff;
    padding: 16px 16px;
    border-radius: 12px;
    position: relative;
    padding: 9px 16px;
}

.widget_small:hover {
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 0px 13px 20px 0px #058b9645;
}

span.power_small {
    font-size: 14px;
    font-weight: 500;
}

p.percent_span {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
}

img.round_img {
    width: 32%;
    position: absolute;
    bottom: 31px;
    right: 3px;
    box-shadow: 0px 15px 20px 0 #058b9640;
    border-radius: 16px;
}

span.power_small-1 {
    position: absolute;
    right: 9px;
    top: 26px;
    font-size: 14px;
    font-weight: 500;
}

img.rectangle_img {
    width: 97%;
}

h6.master_p {
    font-size: 15px;
    font-weight: 700;
    margin: 15px 0 0 15px;
}

p.current_p {
    margin: 6px 0 0 14px;
    font-size: 13px;
}

// ------------
.bg_color {
    background: #ffffff;
    border-radius: 11px;
    padding: 24px 61px;
}

.bg_colorr {
    background: #ffffff;
    border-radius: 11px;
    padding: 27px 47px;
}

.select_box {
    background: #F7F8F9;
    border-radius: 21px;
    padding: 20px 42px;
    height: 324px;
    width: 89%;
    margin: 0 0 0 23px;
    cursor: pointer;
}

.bg-grenish-box {
    background: #F7F8F9;
    border-radius: 21px;
    padding: 20px 42px;
    height: 324px;
    width: 89%;
    margin: 0 0 0 23px;
    cursor: pointer;
    border: 1px solid #229B9F;
}

img.plant_img {
    width: 66%;
    margin-bottom: 21px;
}

h3.h3_course {
    color: #229B9F;
    font-weight: bold;
    font-size: 22px;
    margin-top: 22px;
}

p.with_para {
    font-size: 15px;
    margin: 0;
}

a.btn_next {
    background: #229ca7;
    color: #fff;
    width: 25%;
    border-radius: 12px;
    padding: 10px 0;
}

p.lorem_p {
    font-size: 14px;
    margin: 9px 0;
}

label.title-label {
    font-size: 15px;
    font-weight: 600;
}

input.form-input {
    border: none;
    background: #F9F9F9;
    border-radius: 11px;
    height: 44px;
}

button.btn-register {
    width: 30%;
    background: #229B9F;
    color: #fff;
    border-radius: 11px;
    padding: 8px 0;
}

// --
table.table {
    background: #ffffff;
    border-radius: 19px;
}

td.td_title {
    font-size: 14px;
    width: 15%;
}

a.btn-active {
    background: #53b3b6;
    color: #ffffff;
    padding: 0px 7px;
    font-size: 14px;
    border-radius: 17px;
}

a.btn-draft {
    background: #E5E5E5;
    padding: 0 10px;
    font-size: 13px;
    border-radius: 13px;
}

td.lorem_p {
    font-size: 14px;
    width: 21%;
}

i.fa-pencil,
i.fa-trash,
i.fa-ellipsis-h {
    color: #7D90B2;
    font-size: 22px;
}

td.td_field {
    width: 16%;
}

td.td_field_btn {
    width: 12%;
}

td.td_check {
    width: 5%;
}

tr.tr_border {
    border-top: hidden;
    border-bottom: hidden;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #F4F7FC;
}

i.fa.fa-plus-circle {
    color: #229b9f;
    font-size: 18px;
    cursor: pointer;
}

td.td_title-1 {
    font-size: 14px;
    width: 15%;
    color: #229b9f;
    font-weight: 600;
    cursor: pointer;
}

// --
