<app-header></app-header>

<section id="signup-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-lg-4 col-sm-6 col-12">
                <div class="bg_col-1" [ngClass]="
            darkMode ? 'dark-login-sidebar-bg' : 'light-login-sidebar-bg'
          ">
                    <div class="bg_form" [ngClass]="darkMode ? 'dark-bg' : 'light-card-bg'">
                        <h5 class="h5_just">Please Indicate Your User Group</h5>

                        <div class="mar_t">
                            <!-- <a class="btn btn_free_user">Free user</a> -->
                            <!-- -------------- -->
                            <a class="btn btn_free_user" (click)="getSignUp()">Free user</a>
                            <!-- -------------- -->
                            <div class="form-group col select_dropdown">
                                <select formControlName="title" class="form-control select_field">
                                  <option class="drop_option" selected>Subscriber</option>
                                  <option class="drop_option">Normal</option>
                                  <option class="drop_option">Enterprise</option>
                                </select>
                            </div>
                            <a class="btn btn_free_user">Courses Provider</a>
                        </div>
                        <div>
                            <a class="btn btn_next">Next</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-lg-8 col-sm-6 col-12"></div>
        </div>
    </div>
</section>