section#signup-bg {
    height: 91vh;
}

.bg_col-1 {
    height: 90vh;
}

h5.h5_just {
    font-size: 18px;
    text-align: center;
}

a.btn_free_user {
    border: 2px solid #28a0a4;
    width: 100%;
    border-radius: 11px;
}

.select_dropdown {
    width: 100%;
    margin: 31px 0;
    padding: 0;
}

select.select_field {
    border-radius: 11px;
    background: #28a0a4;
    color: #fff;
}

.mar_t {
    margin: 63px 0;
}

a.btn_next {
    width: 100%;
    background: #28a0a4;
    color: #fff;
    border-radius: 11px;
    margin-top: 23px;
}

option.drop_option {
    background: #fff;
    color: #000;
}
