<app-header></app-header>

<section id="signup-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-lg-4 col-sm-6 col-12">
                <div class="bg_col-1" [ngClass]="
            darkMode ? 'dark-login-sidebar-bg' : 'light-login-sidebar-bg'
          ">
                    <div class="bg_form" [ngClass]="darkMode ? 'dark-bg' : 'light-card-bg'">
                        <h5 class="h5_just">Please Indicate Your User Group</h5>
                        <div class="mar_t" *ngFor="let topic of topics; index as i">
                            <a *ngIf="topic.name === 'Free user'" [ngClass]="[ 'btn ', topic.active === true ? 'bg-grenish-box' : 'btn_free_user'
                          ]" (click)="selectOne(topic,$event)">Free user</a>
                            <div class="form-group col select_dropdown" *ngIf="topic.name === 'Subscriber'">
                                <select [ngClass]="[ 'form-control ', topic.active === true ? 'select_field_green' : 'select_field'
                                ]" (click)="selectOne(topic,$event)">
                                  <option class="drop_option" selected>Subscriber</option>
                                  <option class="drop_option" value="normal">Normal</option>
                                  <option class="drop_option" value="enterprise">Enterprise</option>
                                </select>
                            </div>
                            <a *ngIf="topic.name === 'Courses Provider'" [ngClass]="[ 'btn ', topic.active === true ? 'bg-grenish-box' : 'btn_free_user'
                            ]" (click)="selectOne(topic,$event)">Courses Provider</a>
                        </div>
                        <div>
                            <a class="btn btn_next" (click)="getSignUp()">Next</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-lg-8 col-sm-6 col-12"></div>
        </div>
    </div>
</section>
