#sidebar {
    overflow: hidden;
    z-index: 3;
}

#sidebar .list-group {
    min-width: 300px;
    height: 120vh;
}

#sidebar .list-group-item {
    border-radius: 0;
    white-space: nowrap;
}

@media (max-width: 1024px) {
    #sidebar {
        min-width: 35px;
        max-width: 40px;
        overflow-y: auto;
        overflow-x: visible;
        transition: all 0.25s ease;
        transform: translateX(-45px);
        position: fixed;
    }
    #sidebar.show {
        transform: translateX(0);
    }
    #sidebar::-webkit-scrollbar {
        width: 0px;
    }
    #sidebar,
    #sidebar .list-group {
        min-width: 37%;
        overflow: visible;
    }
    #sidebar .list-group .collapse.show,
    #sidebar .list-group .collapsing {
        position: relative;
        z-index: 1;
        width: 190px;
        top: 0;
    }
    #sidebar .list-group>.list-group-item {
        text-align: left;
        padding: 0.75rem 1.5rem;
    }
    // -------
    .active {
        background: #229b9f !important;
        color: #ffffff;
    }
    // ----------
    #sidebar .list-group>.list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group>.list-group-item[aria-expanded="false"]::after {
        display: none;
    }
    i.fa-caret-right {
        padding: 0 0 0 24px !important;
    }
}

.collapse.show {
    visibility: visible;
}

.collapsing {
    visibility: visible;
    height: 0;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: 100%;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

img.side-bar-logo {
    width: 81%;
    padding: 19px 0px 19px 52px;
}

img.profile-img {
    width: 20%;
    border-radius: 39px;
}

.sidebar-bg {
    text-align: center;
    // background: #f6f6f6;
    margin: 27px 41px;
    border-radius: 25px;
    padding: 19px;
    color: #18969a;
    cursor: pointer;
}

.sidebar-bg:hover {
    color: #fff;
    background: #229b9f;
}

.border-bottom {
    border-bottom: 2px solid #56b4b7 !important;
}

i.fa_width {
    font-size: 17px;
    font-weight: 600;
}

.mt_top {
    margin-top: 10px;
}

.list-group-item {
    border: none;
    padding: 16px 72px;
}

.active {
    background: #229b9f;
    margin: 12px 45px;
    text-align: left;
    color: #fff !important;
    padding: 16px 30px;
    border-radius: 14px !important;
}

.active>i.fa_fa {
    color: #fff;
}

span.heading_dashboard {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 0 25px;
}

i.fa_fa {
    color: #229b9f;
}

a.bg_color {
    color: silver;
}

// -------
p.name_pro {
    font-size: 15px;
    line-height: 21px;
    margin-top: 19px;
}

// ---------
@media screen and (min-device-width: 300px) and (max-device-width: 699px) {
    #sidebar,
    #sidebar .list-group {
        min-width: 67%;
        overflow: visible;
        z-index: 999;
    }
    .sidebar-bg {
        text-align: center;
        margin: 27px 23px;
    }
    img.side-bar-logo {
        padding: 19px 0px 19px 0px;
    }
}

// ------------New sidebar-------------------------------
// img.side-bar-logo {
//     width: 66%;
//     position: absolute;
//     left: 17px;
// }
// .sidebar {
//     position: fixed;
//     left: 0;
//     top: 0;
//     height: 100%;
//     width: 78px;
//     background: #11101D;
//     padding: 6px 14px;
//     z-index: 99;
//     transition: all 0.5s ease;
// }
// .sidebar.open {
//     width: 250px;
// }
// .sidebar .logo-details {
//     height: 60px;
//     display: flex;
//     align-items: center;
//     position: relative;
// }
// .sidebar .logo-details .icon {
//     opacity: 0;
//     transition: all 0.5s ease;
// }
// .sidebar .logo-details .logo_name {
//     color: #fff;
//     font-size: 20px;
//     font-weight: 600;
//     opacity: 0;
//     transition: all 0.5s ease;
// }
// .sidebar.open .logo-details .icon,
// .sidebar.open .logo-details .logo_name {
//     opacity: 1;
// }
// .sidebar .logo-details #btn {
//     position: absolute;
//     top: 50%;
//     right: 0;
//     transform: translateY(-50%);
//     font-size: 22px;
//     transition: all 0.4s ease;
//     font-size: 23px;
//     text-align: center;
//     cursor: pointer;
//     transition: all 0.5s ease;
// }
// .sidebar.open .logo-details #btn {
//     text-align: right;
// }
// .sidebar i {
//     color: #fff;
//     height: 60px;
//     min-width: 50px;
//     font-size: 28px;
//     text-align: center;
//     line-height: 60px;
// }
// .sidebar .nav-list {
//     margin-top: 20px;
//     height: 100%;
// }
// .sidebar li {
//     position: relative;
//     margin: 8px 0;
//     list-style: none;
// }
// .sidebar li .tooltip {
//     position: absolute;
//     top: -20px;
//     left: calc(100% + 15px);
//     z-index: 3;
//     background: #fff;
//     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
//     padding: 6px 12px;
//     border-radius: 4px;
//     font-size: 15px;
//     font-weight: 400;
//     opacity: 0;
//     white-space: nowrap;
//     pointer-events: none;
//     transition: 0s;
// }
// .sidebar li:hover .tooltip {
//     opacity: 1;
//     pointer-events: auto;
//     transition: all 0.4s ease;
//     top: 50%;
//     transform: translateY(-50%);
// }
// .sidebar.open li .tooltip {
//     display: none;
// }
// .sidebar input {
//     font-size: 15px;
//     color: #FFF;
//     font-weight: 400;
//     outline: none;
//     height: 50px;
//     width: 100%;
//     width: 50px;
//     border: none;
//     border-radius: 12px;
//     transition: all 0.5s ease;
//     background: #1d1b31;
// }
// .sidebar.open input {
//     padding: 0 20px 0 50px;
//     width: 100%;
// }
// .sidebar .bx-search {
//     position: absolute;
//     top: 50%;
//     left: 0;
//     transform: translateY(-50%);
//     font-size: 22px;
//     background: #1d1b31;
//     color: #FFF;
// }
// .sidebar.open .bx-search:hover {
//     background: #1d1b31;
//     color: #FFF;
// }
// .sidebar .bx-search:hover {
//     background: #FFF;
//     color: #11101d;
// }
// .sidebar li a {
//     display: flex;
//     height: 100%;
//     width: 100%;
//     border-radius: 12px;
//     align-items: center;
//     text-decoration: none;
//     transition: all 0.4s ease;
//     background: #11101D;
// }
// .sidebar li a:hover {
//     background: #FFF;
// }
// .sidebar li a .links_name {
//     color: #fff;
//     font-size: 15px;
//     font-weight: 400;
//     white-space: nowrap;
//     opacity: 0;
//     pointer-events: none;
//     transition: 0.4s;
// }
// .sidebar.open li a .links_name {
//     opacity: 1;
//     pointer-events: auto;
// }
// .sidebar li a:hover .links_name,
// .sidebar li a:hover i {
//     transition: all 0.5s ease;
//     color: #11101D;
// }
// .sidebar li i {
//     height: 50px;
//     line-height: 50px;
//     font-size: 18px;
//     border-radius: 12px;
// }
// .sidebar li.profile {
//     position: fixed;
//     height: 60px;
//     width: 78px;
//     left: 0;
//     bottom: -8px;
//     padding: 10px 14px;
//     background: #1d1b31;
//     transition: all 0.5s ease;
//     overflow: hidden;
// }
// .sidebar.open li.profile {
//     width: 250px;
// }
// .sidebar li .profile-details {
//     display: flex;
//     align-items: center;
//     flex-wrap: nowrap;
// }
// .sidebar li img {
//     height: 45px;
//     width: 45px;
//     object-fit: cover;
//     border-radius: 6px;
//     margin-right: 10px;
// }
// .sidebar li.profile .name,
// .sidebar li.profile .job {
//     font-size: 15px;
//     font-weight: 400;
//     color: #fff;
//     white-space: nowrap;
// }
// .sidebar li.profile .job {
//     font-size: 12px;
// }
// .sidebar .profile #log_out {
//     position: absolute;
//     top: 50%;
//     right: 0;
//     transform: translateY(-50%);
//     background: #1d1b31;
//     width: 100%;
//     height: 60px;
//     line-height: 60px;
//     border-radius: 0px;
//     transition: all 0.5s ease;
// }
// .sidebar.open .profile #log_out {
//     width: 50px;
//     background: none;
// }
// .home-section {
//     position: relative;
//     background: #E4E9F7;
//     min-height: 100vh;
//     top: 0;
//     left: 78px;
//     width: calc(100% - 78px);
//     transition: all 0.5s ease;
//     z-index: 2;
// }
// .sidebar.open~.home-section {
//     left: 250px;
//     width: calc(100% - 250px);
// }
// .home-section .text {
//     display: inline-block;
//     color: #11101d;
//     font-size: 25px;
//     font-weight: 500;
//     margin: 18px
// }
// @media (max-width: 420px) {
//     .sidebar li .tooltip {
//         display: none;
//     }
// }
// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     font-family: "Poppins", sans-serif;
// }
// .sidebar {
//     position: fixed;
//     left: 0;
//     top: 0;
//     height: 100%;
//     width: 78px;
//     background: #ffffff;
//     color: #000000;
//     padding: 6px 14px;
//     z-index: 99;
//     transition: all 0.5s ease;
// }
// .sidebar.open {
//     width: 250px;
// }
// .sidebar .logo-details {
//     height: 60px;
//     display: flex;
//     align-items: center;
//     position: relative;
// }
// .sidebar .logo-details .icon {
//     opacity: 0;
//     transition: all 0.5s ease;
// }
// .sidebar .logo-details .logo_name {
//     color: #000;
//     font-size: 20px;
//     font-weight: 600;
//     opacity: 0;
//     transition: all 0.5s ease;
// }
// .sidebar.open .logo-details .icon,
// .sidebar.open .logo-details .logo_name {
//     opacity: 1;
// }
// .sidebar .logo-details #btn {
//     position: absolute;
//     top: 50%;
//     right: 0;
//     transform: translateY(-50%);
//     font-size: 22px;
//     transition: all 0.4s ease;
//     font-size: 23px;
//     text-align: center;
//     cursor: pointer;
//     transition: all 0.5s ease;
// }
// .sidebar.open .logo-details #btn {
//     text-align: right;
// }
// .sidebar i {
//     color: #fff;
//     height: 60px;
//     min-width: 50px;
//     font-size: 28px;
//     text-align: center;
//     line-height: 60px;
// }
// .sidebar .nav-list {
//     margin-top: 20px;
//     height: 100%;
// }
// .sidebar li {
//     position: relative;
//     margin: 8px 0;
//     list-style: none;
// }
// .sidebar li .tooltip {
//     position: absolute;
//     top: -20px;
//     left: calc(100% + 15px);
//     z-index: 3;
//     background: #fff;
//     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
//     padding: 6px 12px;
//     border-radius: 4px;
//     font-size: 15px;
//     font-weight: 400;
//     opacity: 0;
//     white-space: nowrap;
//     pointer-events: none;
//     transition: 0s;
// }
// .sidebar li:hover .tooltip {
//     opacity: 1;
//     pointer-events: auto;
//     transition: all 0.4s ease;
//     top: 50%;
//     transform: translateY(-50%);
// }
// .sidebar.open li .tooltip {
//     display: none;
// }
// .sidebar input {
//     font-size: 15px;
//     color: #FFF;
//     font-weight: 400;
//     outline: none;
//     height: 50px;
//     width: 100%;
//     width: 50px;
//     border: none;
//     border-radius: 12px;
//     transition: all 0.5s ease;
//     background: #1d1b31;
// }
// .sidebar.open input {
//     padding: 0 20px 0 50px;
//     width: 100%;
// }
// .sidebar .bx-search {
//     position: absolute;
//     top: 50%;
//     left: 0;
//     transform: translateY(-50%);
//     font-size: 22px;
//     background: #1d1b31;
//     color: #FFF;
// }
// .sidebar.open .bx-search:hover {
//     background: #1d1b31;
//     color: #FFF;
// }
// .sidebar .bx-search:hover {
//     background: #FFF;
//     color: #11101d;
// }
// .sidebar li a {
//     display: flex;
//     height: 100%;
//     width: 100%;
//     border-radius: 12px;
//     align-items: center;
//     text-decoration: none;
//     transition: all 0.4s ease;
//     background: #ffffff;
// }
// .sidebar li a:hover {
//     background: #FFF;
// }
// .sidebar li a .links_name {
//     color: #000000;
//     font-size: 15px;
//     font-weight: 400;
//     white-space: nowrap;
//     opacity: 0;
//     pointer-events: none;
//     transition: 0.4s;
// }
// .sidebar.open li a .links_name {
//     opacity: 1;
//     pointer-events: auto;
// }
// .sidebar li a:hover .links_name,
// .sidebar li a:hover i {
//     transition: all 0.5s ease;
//     color: #11101D;
// }
// .sidebar li i {
//     height: 50px;
//     line-height: 50px;
//     font-size: 18px;
//     border-radius: 12px;
// }
// .sidebar li.profile {
//     position: fixed;
//     height: 60px;
//     width: 78px;
//     left: 0;
//     bottom: -8px;
//     padding: 10px 14px;
//     background: #1d1b31;
//     transition: all 0.5s ease;
//     overflow: hidden;
// }
// .sidebar.open li.profile {
//     width: 250px;
// }
// .sidebar li .profile-details {
//     display: flex;
//     align-items: center;
//     flex-wrap: nowrap;
// }
// .sidebar li img {
//     height: 45px;
//     width: 45px;
//     object-fit: cover;
//     border-radius: 6px;
//     margin-right: 10px;
// }
// .sidebar li.profile .name,
// .sidebar li.profile .job {
//     font-size: 15px;
//     font-weight: 400;
//     color: #fff;
//     white-space: nowrap;
// }
// .sidebar-bg {
//     padding: 19px;
//     border-radius: 22px;
// }
// .sidebar li.profile .job {
//     font-size: 12px;
// }
// .sidebar .profile #log_out {
//     position: absolute;
//     top: 50%;
//     right: 0;
//     transform: translateY(-50%);
//     background: #1d1b31;
//     width: 100%;
//     height: 60px;
//     line-height: 60px;
//     border-radius: 0px;
//     transition: all 0.5s ease;
// }
// .sidebar.open .profile #log_out {
//     width: 50px;
//     background: none;
// }
// .home-section {
//     position: relative;
//     background: #E4E9F7;
//     min-height: 100vh;
//     top: 0;
//     left: 78px;
//     width: calc(100% - 78px);
//     transition: all 0.5s ease;
//     z-index: 2;
// }
// .sidebar.open~.home-section {
//     left: 250px;
//     width: calc(100% - 250px);
// }
// .home-section .text {
//     display: inline-block;
//     color: #11101d;
//     font-size: 25px;
//     font-weight: 500;
//     margin: 18px
// }
// @media (max-width: 420px) {
//     .sidebar li .tooltip {
//         display: none;
//     }
// }
