<div class="container-fluid">
  <div
    class="row d-flex d-md-block flex-nowrap wrapper main_clr"
    [ngClass]="darkMode ? 'dark-bg' : 'light-bg'"
  >
    <div
      class="
        col-md-3 col-lg-3 col-sm-6 col-12
        float-left
        col-1
        pl-0
        pr-0
        collapse
        width
        show
      "
      id="sidebar"
    >
      <div
        class="list-group border-0 card text-center text-md-left"
        [ngClass]="darkMode ? 'dark-bg-col' : 'light-bg-col'"
      >
        <div class="border-bottom">
          <img
            class="side-bar-logo text-center"
            src="../../../assets/images/logo-sidebar.png"
            alt=""
          />
        </div>

        <div
          [ngClass]="darkMode ? 'dark-bg' : 'light-bg'"
          id="side_bar"
          class="sidebar-bg text-center"
          [routerLink]="'/pages/profile'"
          routerLinkActive="router-link-active active"
        >
          <img
            class="profile-img"
            src="../../../assets/images/profile.png"
            alt=""
          />
          <div class="row">
            <div class="col-md-12 text-center">
              <p class="name_pro">
                Jason Tan <br />
                PIF Capital Pte Ltd
              </p>
            </div>
          </div>
          <div class="row mt_top">
            <div class="col-md-4 col-lg-4 col-sm-4 col-4">
              <i class="fa fa_width fa-phone" aria-hidden="true"></i>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-4">
              <i class="fa fa_width fa-commenting-o" aria-hidden="true"></i>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-4">
              <i class="fa fa_width fa-map-marker" aria-hidden="true"></i>
            </div>
          </div>
        </div>
       
        <a
          [ngClass]="darkMode ? 'dark-side-bar-text' : 'light-side-bar-text'"
          [routerLink]="'/pages/home'"
          routerLinkActive="router-link-active active"
          class="list-group-item d-inline-block collapsed bg_color"
          data-parent="#sidebar"
          ><i class="fa fa_fa fa-tachometer pr-3"></i>
          <span class="hidden-sm-down dash_col">DASHBOARD</span>
          <i class="fa fa_fa fa-caret-right text-white pl-5"></i>
        </a>
        <a
          [ngClass]="darkMode ? 'dark-side-bar-text' : 'light-side-bar-text'"
          [routerLink]="'/pages/my-course'"
          routerLinkActive="router-link-active active"
          class="list-group-item d-inline-block collapsed bg_color"
          data-parent="#sidebar"
        >
          <i class="fa fa_fa fa-sticky-note-o pr-3"></i>
          <span class="hidden-sm-down dash_col"> MY COURSES</span>
          <i class="fa fa_fa fa-caret-right text-white pl-5"></i>
        </a>
        <a
          [ngClass]="darkMode ? 'dark-side-bar-text' : 'light-side-bar-text'"
          [routerLink]="'/pages/explore'"
          routerLinkActive="router-link-active active"
          class="list-group-item d-inline-block collapsed bg_color"
          data-parent="#sidebar"
          ><i class="fa fa_fa fa-archive pr-3"></i>
          <span class="hidden-sm-down dash_col"> EXPLORE </span>
          <i class="fa fa_fa fa-caret-right text-white pl-5"></i
        ></a>
        <a
          [ngClass]="darkMode ? 'dark-side-bar-text' : 'light-side-bar-text'"
          [routerLink]="'/pages/board'"
          routerLinkActive="router-link-active active"
          class="list-group-item d-inline-block collapsed bg_color"
          data-parent="#sidebar"
          ><i class="fa fa_fa fa-plus-square-o pr-3"></i>
          <span class="hidden-sm-down dash_col"> BOARD </span>
          <i class="fa fa_fa fa-caret-right text-white pl-5"></i
        ></a>
        <a
          [ngClass]="darkMode ? 'dark-side-bar-text' : 'light-side-bar-text'"
          [routerLink]="'/pages/setting'"
          routerLinkActive="router-link-active active"
          class="list-group-item d-inline-block collapsed bg_color"
          data-parent="#sidebar"
          ><i class="fa fa_fa fa-gear pr-3"></i>
          <span class="hidden-sm-down dash_col"> SETTINGS </span>
          <i class="fa fa_fa fa-caret-right text-white pl-5"></i
        ></a>
        <a
          [ngClass]="darkMode ? 'dark-side-bar-text' : 'light-side-bar-text'"
          [routerLink]="'/pages/dash-var'"
          routerLinkActive="router-link-active active"
          class="list-group-item d-inline-block collapsed bg_color"
          data-parent="#sidebar"
          ><i class="fa fa_fa fa-gear pr-3"></i>
          <span class="hidden-sm-down dash_col"> Varsha </span>
          <i class="fa fa_fa fa-caret-right text-white pl-5"></i
        ></a>
      </div>
    </div>
  </div>
</div>
