section.login {
    background: #F6F6F6;
    height: 100vh;
}

.card-bg {
    background: #fff;
    padding: 28px;
    border-radius: 36px;
    width: 54%;
    display: flex;
    justify-content: center;
}

input.input_email {
    width: 100%;
}