<div class="container-fluid">
  <div class="row">
    <main
      class="col-md-12 float-left col px-5 px-md-3 py-3 main"
      [ngClass]="darkMode ? 'dark-bg' : 'light-bg'"
    >
      <app-common-header></app-common-header>

      <div class="row mt-3">
        <div class="col-md-6 col-lg-6 col-sm-6 col-12 pl-4 d-flex yo">
          <h5 class="in_pro"><u>In Progress</u></h5>
          <p class="fitr_by">Filter by:</p>
          <div class="dropdown pl-3">
            <button
              [ngClass]="darkMode ? 'dark-card-bg' : 'light-card-bg'"
              class="btn dd_btn dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Category
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="dropdown pl-3">
            <button
              [ngClass]="darkMode ? 'dark-card-bg' : 'light-card-bg'"
              class="btn dd_btn dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Most Recent
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3"></div>
        <div class="col-md-3 col-lg-3 col-sm-6 col-12 text-right">
          <div
            class="input_parent"
            [ngClass]="darkMode ? 'dark-card-bg' : 'light-card-bg'"
          >
            <input
              [ngClass]="darkMode ? 'dark-card-bg' : 'light-card-bg'"
              type="text"
              placeholder="Search"
              class="input_search-filed"
            />
            <button class="btn btn_search">
              <i
                class="fa fa-search"
                [ngClass]="darkMode ? 'dark-text' : 'light-text'"
                aria-hidden="true"
              ></i>
            </button>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-4">
          <div
            class="card_two"
            routerLink="/pages/course-preview"
            [ngClass]="darkMode ? 'dark-card-bg' : 'light-card-bg'"
          >
            <div class="d-flex justify-content-between">
              <div class="pro_bg">
                <i class="fa fa_fnt fa-file-text" aria-hidden="true"></i>
              </div>
              <div>
                <p class="mastering_p">MASTERING CAPITAL WISDOM</p>
              </div>
              <div>
                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
              </div>
            </div>
            <div class="mt-2">
              <h5 class="font-weight-bold">Capital Awakening</h5>
            </div>
            <hr />
            <div class="d-flex">
              <div class="progress pro-1">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 50%"
                  aria-valuenow="50"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <span class="two_hrs">2 hr </span>
              <i class="fa fa_hrt fa-heart" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12">
          <h5 class="in_pro"><u>Pending Courses</u></h5>
          <div class="row mt-4">
            <div class="col-md-4 col-lg-4 col-sm-12 col-12">
              <div
                class="card_similar"
                routerLink="/pages/course-preview"
                [ngClass]="darkMode ? 'dark-card-bg' : 'light-card-bg'"
              >
                <div class="d-flex justify-content-between">
                  <div class="pro_bg">
                    <i class="fa fa_fnt fa-file-text" aria-hidden="true"></i>
                  </div>
                  <div>
                    <p class="mastering_p">MASTERING CAPITAL WISDOM</p>
                  </div>
                  <div>
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                  </div>
                </div>
                <hr />
                <div class="mt-2">
                  <h5 class="font-weight-bold">Introduction</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-12">
              <div
                class="card_similar"
                routerLink="/pages/course-preview"
                [ngClass]="darkMode ? 'dark-card-bg' : 'light-card-bg'"
              >
                <div class="d-flex justify-content-between">
                  <div class="pro_bg">
                    <i class="fa fa_fnt fa-file-text" aria-hidden="true"></i>
                  </div>
                  <div>
                    <p class="mastering_p">MASTERING CAPITAL WISDOM</p>
                  </div>
                  <div>
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                  </div>
                </div>
                <hr />
                <div class="mt-2">
                  <h5 class="font-weight-bold">Introduction</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-12">
              <div
                class="card_similar"
                routerLink="/pages/course-preview"
                [ngClass]="darkMode ? 'dark-card-bg' : 'light-card-bg'"
              >
                <div class="d-flex justify-content-between">
                  <div class="pro_bg">
                    <i class="fa fa_fnt fa-file-text" aria-hidden="true"></i>
                  </div>
                  <div>
                    <p class="mastering_p">MASTERING CAPITAL WISDOM</p>
                  </div>
                  <div>
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                  </div>
                </div>
                <hr />
                <div class="mt-2">
                  <h5 class="font-weight-bold">Introduction</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12">
          <h5 class="in_pro">
            Courses That People In Your Industry Are Currently Learning
          </h5>
          <div class="row mt-4">
            <div class="col-md-3">
              <video
                controls
                src="../../../assets/videos/vide.mp4"
                class="video_tag"
              ></video>
            </div>
            <div class="col-md-3">
              <video
                controls
                src="../../../assets/videos/vide.mp4"
                class="video_tag"
              ></video>
            </div>
            <div class="col-md-3">
              <video
                controls
                src="../../../assets/videos/vide.mp4"
                class="video_tag"
              ></video>
            </div>
            <div class="col-md-3">
              <video
                controls
                src="../../../assets/videos/vide.mp4"
                class="video_tag"
              ></video>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
