button.btn-light {
    padding: 0;
}

p.logout_dd {
    font-weight: 500;
    margin: 0;
}

p.fitr_by {
    font-size: 14px;
    padding: 4px 0 0 15px;
    font-weight: 500;
}

small.prep_small {
    font-weight: 600;
}

// .slide-1 {
//     width: 291px!important;
//     margin: 0 9px;
// }
.slide-1 {
    width: 346px;
    margin: 0 8px;
}

.slick-prev {
    left: 13px;
}

ngx-slick-carousel {
    width: 98%;
}

.mar_pad {
    margin-left: 17px;
}

// ------------
.card_two {
    border: 1px solid #229b9f;
    padding: 5px 17px 12px 17px;
    border-radius: 19px;
    height: 185px;
    cursor: pointer;
}

.pro_bg {
    text-align: center;
    background: #229b9f;
    color: #fff;
    border-radius: 10px;
    padding: 12px 12px;
    height: 48px;
    width: 17%;
}

i.fa_fnt {
    font-size: 19px;
}

p.mastering_pp {
    font-size: 14px;
    margin-left: 9px;
    font-weight: 500;
    color: #229b9f;
}

p.mastering_p {
    font-size: 16px;
    margin-left: 9px;
    font-weight: 500;
    color: #229b9f;
}

.pro-1 {
    height: 7px;
    margin: 7px 0 0 0;
    width: 74%;
}

span.two_hrs {
    font-size: 13px;
    padding: 0 5px 0 8px;
    border-right: 1px solid silver;
}

i.fa.fa-ellipsis-h {
    font-size: 23px;
    color: silver;
}

i.fa_hrt {
    font-size: 13px;
    padding: 3px 0 0 7px;
    color: #c0c0c0ab;
}

p.mast_p {
    margin: 6px 0 0 0;
    font-size: 14px;
    font-weight: 700;
}

// ------------
.card_similar {
    border: 1px solid #229b9f;
    // padding: 21px;
    padding: 5px 17px 12px 17px;
    border-radius: 19px;
    height: 148px;
    cursor: pointer;
}

video.video_tag {
    width: 100%;
    border-radius: 16px;
}

.dropdown {
    padding-left: 13px;
}

@media screen and (min-device-width: 300px) and (max-device-width: 320px) {
    p.fitr_by {
        font-size: 11px;
        padding: 6px 0px 0 9px;
    }
    button.dd_btn {
        font-size: 9px;
    }
    .card_similar {
        margin: 0 0 10px 0;
    }
    .dropdown {
        padding: 0 0 0 6px !important;
    }
    h5.in_pro {
        font-size: 15px;
        padding: 3px 0 0 0;
    }
    .mar_pad {
        margin-left: 0;
    }
    .slide-1 {
        width: 268px !important;
        margin: 0 9px;
    }
}

@media screen and (min-device-width: 321px) and (max-device-width: 360px) {
    p.fitr_by {
        font-size: 13px;
        padding: 4px 0px 0 10px;
    }
    button.dd_btn {
        font-size: 11px;
    }
    .card_similar {
        margin: 0 0 10px 17px;
    }
    .dropdown {
        padding: 0 0 0 6px !important;
    }
    .slick-prev {
        left: -13px;
        top: 318px;
    }
    .mar_pad {
        margin-left: 0;
    }
    .slick-prev {
        left: -3px !important;
    }
    .slide-1 {
        width: 302px !important;
        margin: 0 9px;
    }
    .slick-prev {
        left: -7px !important;
    }
}

@media screen and (min-device-width: 361px) and (max-device-width: 399px) {
    p.fitr_by {
        font-size: 13px;
        padding: 4px 0px 0 10px;
    }
    button.dd_btn {
        font-size: 11px;
    }
    .card_similar {
        margin: 0 0 10px 17px;
    }
    .dropdown {
        padding: 0 0 0 6px !important;
    }
    .slick-prev {
        left: -13px;
        top: 318px;
    }
    .mar_pad {
        margin-left: 0;
    }
    .slick-prev {
        left: -3px !important;
    }
    .slide-1 {
        width: 317px !important;
        margin: 0 9px;
    }
}

@media screen and (min-device-width: 400px) and (max-device-width: 499px) {
    p.fitr_by {
        font-size: 14px;
        padding: 4px 0 0 14px;
    }
    button.dd_btn {
        font-size: 12px;
    }
    .pro-1 {
        width: 81%;
    }
    img.logo-heaad {
        width: 17%;
    }
    video.video_tag {
        margin-top: 8px;
    }
    .card_similar {
        // margin: 0 0 10px 0;
        margin: 0 12px 10px 0;
    }
    .yo {
        margin-top: 12px;
    }
    // ---
    .mar_pad {
        margin-left: 0;
    }
    .dropdown {
        margin: 0 !important;
    }
    .slide-1 {
        width: 358px !important;
        margin: 0 12px;
    }
}

@media screen and (min-device-width: 500px) and (max-device-width: 599px) {
    h5.in_pro {
        font-size: 15px;
        padding-top: 3px;
    }
    p.fitr_by {
        font-size: 13px;
        padding: 4px 0 0 14px;
    }
    button.dd_btn {
        font-size: 11px;
    }
    .pro_bg {
        padding: 10px 12px;
        height: 45px;
        width: 22%;
    }
    h5.in_pro {
        font-size: 14px;
    }
    .dropdown {
        margin: 0 0 0 5px;
    }
    .pro-1 {
        width: 66%;
    }
    .slide-1 {
        width: 235px !important;
        margin: 0 8px 11px 8px;
    }
    .card_two {
        width: 77%;
        margin: 0 32px;
    }
    .pro_bg {
        padding: 4px 8px;
        height: 33px;
        width: 21%;
    }
    p.mastering_p {
        font-size: 12px !important;
    }
    i.fa_fnt {
        font-size: 13px;
    }
    .slick-prev {
        left: -12px !important;
        z-index: 999 !important;
    }
}

@media screen and (min-device-width: 600px) and (max-device-width: 768px) {
    h5.in_pro {
        font-size: 15px;
        padding-top: 3px;
    }
    p.fitr_by {
        font-size: 13px;
        padding: 4px 0 0 14px;
    }
    button.dd_btn {
        font-size: 11px;
    }
    .pro_bg {
        padding: 10px 12px;
        height: 45px;
        width: 22%;
    }
    h5.in_pro {
        font-size: 14px;
    }
    .dropdown {
        margin: 0 0 0 5px;
    }
    .pro-1 {
        width: 66%;
    }
    .slide-1 {
        // width: 175px !important;
        width: 225px !important;
        margin: 4px 8px;
    }
    .pro_bg {
        padding: 4px 8px;
        height: 33px;
        width: 21%;
    }
    p.mastering_p {
        font-size: 12px !important;
    }
    i.fa_fnt {
        font-size: 13px;
    }
    .slick-prev {
        left: -12px !important;
        z-index: 999 !important;
    }
}

@media screen and (min-device-width: 769px) and (max-device-width: 900px) {
    .slide-1 {
        width: 229px !important;
        margin: 0 6px;
    }
    .pro-1 {
        width: 66%;
    }
    p.mastering_p {
        font-size: 13px !important;
    }
    .pro_bg {
        padding: 8px 9px;
        height: 40px;
    }
}

@media screen and (min-device-width: 1000px) and (max-device-width: 1489px) {
    .slick-prev {
        left: -14px !important;
    }
    .slick-next {
        right: -18px !important;
    }
    p.mastering_p {
        font-size: 13px;
    }
    i.fa_fnt {
        font-size: 15px;
    }
    .pro_bg {
        padding: 6px 5px;
        height: 38px;
    }
}

@media only screen and (min-width: 1490px) and (max-width: 1499px) {
    .slide-1 {
        width: 310px !important;
        margin: 0 8px;
    }
}
