<app-header></app-header>

<section id="dashboard-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 col-lg-4 col-sm-6 col-12">
        <div
          class="bg_col-1"
          [ngClass]="
            darkMode ? 'dark-login-sidebar-bg' : 'light-login-sidebar-bg'
          "
        >
          <div
            class="bg_form"
            [ngClass]="darkMode ? 'dark-bg' : 'light-card-bg'"
          >
            <h5>Customise Your Topics</h5>
            <div class="row mt">
              <div class="col-md-6 col-lg-5 col-sm-6 col-12">
                <div
                  class="bg-silver"
                  [ngClass]="
                    darkMode
                      ? 'dark-small-section-bg'
                      : 'light-small-section-bg'
                  "
                >
                  <p>Road To IPO</p>
                </div>
              </div>
              <div class="col-md-6 col-lg-7 col-sm-6 col-12">
                <div class="bg-grenish">
                  <p>Entrepreneurship</p>
                </div>
              </div>
            </div>
            <div class="row mt">
              <div class="col-md-5">
                <div class="bg-grenish">
                  <p>Capital Raising</p>
                </div>
              </div>
              <div class="col-md-7">
                <div
                  class="bg-silver"
                  [ngClass]="
                    darkMode
                      ? 'dark-small-section-bg'
                      : 'light-small-section-bg'
                  "
                >
                  <p>Trade Finance</p>
                </div>
              </div>
            </div>
            <div class="row mt">
              <div class="col-md-7">
                <div class="bg-grenish">
                  <p>Investing</p>
                </div>
              </div>
              <div class="col-md-5">
                <div
                  class="bg-silver"
                  [ngClass]="
                    darkMode
                      ? 'dark-small-section-bg'
                      : 'light-small-section-bg'
                  "
                >
                  <p>CrowdFunding</p>
                </div>
              </div>
            </div>
            <div class="row mt">
              <div class="col-md-5">
                <div
                  class="bg-silver"
                  [ngClass]="
                    darkMode
                      ? 'dark-small-section-bg'
                      : 'light-small-section-bg'
                  "
                >
                  <p>Business Law</p>
                </div>
              </div>
              <div class="col-md-7">
                <div class="bg-grenish">
                  <p>Merger & Acquisitions</p>
                </div>
              </div>
            </div>
            <div class="row mtt">
              <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                <a href="#" class="btn btn-done">Done</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-lg-8 col-sm-6 col-12"></div>
    </div>
  </div>
</section>
