<body>
    <div class="hera">
          </div>
         <div class="container-fluid bg" >
             <div class="row justify-content-center">
                 <div class="col-12 col-sm-6 col-md-3">
                   <form class="form-container">
                       <div class="form-group">
                         <label for="exampleInputEmail1">Email address</label>
                         <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        
                       </div>
                       <div class="form-group">
                         <label for="exampleInputPassword1">Password</label>
                         <input type="password" class="form-control" id="exampleInputPassword1">
                       </div>
                       <div class="form-group">
                           <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam eum atque iste in nemo </p>
                         </div>
                       <div class="form-group form-check">
                         <input type="checkbox" class="form-check-input" id="exampleCheck1">
                         <label class="form-check-label" for="exampleCheck1">Check me out</label>
                       </div>
                       <button type="submit" class="btn btn-primary btn-block">Agree & jion</button>
                     </form>
   
                 </div>
   
             </div>
   
         </div>
         <div>
             <ul>
                 <li>2020</li>
               
             </ul>
   
         </div>
