<section class="form-bg">


  <div class="container-fluid">
    <div class="row ">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class=" imge text-center">
              <img class="logo_img" src="assets/images/form logo.png ">
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-container form_position">

              <div class="form-group">
                <label class="login_label" for="exampleInputEmail1">Email or phone number</label>
                <input type="text" formControlName="email" class="form-control login_input"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>

              <div class="form-group">
                <label  class="login_label" for="exampleInputPassword1">Password <small> (6 or more characters)</small> </label>
                <input type="password" formControlName="password" class="form-control login_input"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                  <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                  <p class="by_para">By clicking Agree & Join, you agree to the LinkedIn <a href="#">User Agreement, Privacy Policy,</a>
                    and
                    <a href="#">Cookie Policy.</a>
                  </p>
                </div>
                <div class="col-md-1"></div>
              </div>


              <button type="submit" class="btn btn-primary btn-block">Agree & jion</button>
              <div class="line">
                <img src="../../../../../../assets/images/Vector 2.png">
                or &nbsp;<img src="../../../../../../assets/images/Vector 2.png">
              </div>
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <div class="soical-media">
                    <a><img src="../../../../../../assets/images/facebook (1) 1.png"></a>
                    <a><img src="assets/images/google.png"></a>
                    <a><img src="assets/images/linkedin.png"></a>
                  </div>
                </div>
                <div class="col-md-2"></div>
              </div>


              <div class="row">
                <div class="col-md-12 text-center">
              <p class="signup-link">
                Already on BD TECH? <a routerLink="/bd-portal/sign-up">Sign up</a>
              </p>
            </div>
          </div>

            </form>
          </div>

          <div class="col-md-4"></div>
      </div>
  </div>
</section>
<!-- -------------------------------------  -->
