<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <a routerLink="/lms/auth" class="btn btn-primary">LMS / Edutech </a>
        <br />
        <br />
        <a class="btn btn-primary">Investech</a> <br />
        <br />
        <a routerLink="/bd-portal" class="btn btn-primary">BD Portal</a> <br />
        <br />
        <a class="btn btn-primary">Consultech</a> <br />
        <br />
        <a class="btn btn-primary">Super Admin / CMS</a> <br />
        <br />
      </div>
    </div>
  </div>
</section>
