<!-- Footer -->
<footer class="page-footer font-small foot_pos">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 foot_fnt">
    © 2020
    <a href="#" class="foot_pad"> About </a>
    <a href="#" class="foot_pad"> Accessibility </a>
    <a href="#" class="foot_pad"> User </a>
    <a href="#" class="foot_pad"> Agreement </a>
    <a href="#" class="foot_pad"> Privacy Policy </a>
    <a href="#" class="foot_pad"> Cookie Policy </a>
    <a href="#" class="foot_pad"> Copyright Policy </a>
    <a href="#" class="foot_pad"> Brand Policy </a>
    <a href="#" class="foot_pad"> Guest Controls </a>
    <a href="#" class="foot_pad"> Community Guidelines </a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
