<div class="container-fluid">
  <div class="row">
    <main
      class="col-md-12 float-left col px-5 px-md-3 py-3 main"
      [ngClass]="darkMode ? 'dark-bg' : 'light-bg'"
    >
      <app-common-header></app-common-header>
      <!-- <div *ngIf="!hide">
        <div class="row">
          <div class="col-md-8 col-sm-8 col-12">
            <div
              class="bg_wh"
              [ngClass]="darkMode ? 'dark-card-bg' : 'light-card-bg'"
            >
              <div class="row">
                <div class="col-md-5">
                  <img
                    (click)="showHide()"
                    class="w-100 img-cur"
                    src="../../../assets/images/Mask Group.png"
                    alt=""
                  />
                  <button class="btn btn-n mt-3">Edit Profile</button>
                </div>
                <div class="col-md-7 mar_gin">
                  <div class="row">
                    <div class="col-md-7 col-sm-6 col-6">
                      <h5>Jason Tan</h5>
                    </div>
                    <div class="col-md-5 col-sm-6 col-6 text-right">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p class="profile_sm">
                        Profile :<span> PIF Capital Pte Ltd </span>
                      </p>
                      <p class="profile_sm">
                        Mobile No. :<span> +1 879654123 </span>
                      </p>

                      <p class="profile_sm">
                        Email :<span> jasontan256@world.com </span>
                      </p>
                      <p class="profile_sm">
                        Language :<span> English, Indonesian, Japanese </span>
                      </p>
                      <p class="profile_sm">
                        Country :<span> United States </span>
                      </p>
                      <p class="profile_sm mt-3">
                        About me <br />
                        <span>
                          Amet minim mollit non deserunt ullamco est sit aliqua
                          dolor do amet sint. Velit officia consequat duis enim
                          velit mollit. Exercitation veniam consequat sunt
                          nostrud amet.
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-12 mar_gin">
            <div
              class="bg_wh"
              [ngClass]="darkMode ? 'dark-card-bg' : 'light-card-bg'"
            >
              <h5 class="quick_link_h5">Quick Links To Forum</h5>
              <hr />
              <div
                class="bg_sl mb-3"
                [ngClass]="darkMode ? 'dark-bg' : 'light-profile-bg '"
              >
                <div class="row">
                  <div class="col-md-10 col-sm-10 col-9">
                    <a
                      href="#"
                      class="is-it_a"
                      [ngClass]="darkMode ? 'dark-text' : 'light-text'"
                    >
                      <u> Is It The End Of Crypto? </u></a
                    >
                    <p class="profile_sm mt-2">BItcoin Fundamentals</p>
                  </div>
                  <div class="col-md-2 col-sm-2 col-3">
                    <img
                      class="w-100 pt-4 img_ar"
                      src="../../../assets/images/Vector-arrow.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div
                class="bg_sl mb-3"
                [ngClass]="darkMode ? 'dark-bg' : 'light-profile-bg '"
              >
                <div class="row">
                  <div class="col-md-10 col-sm-10 col-9">
                    <a
                      href="#"
                      class="is-it_a"
                      [ngClass]="darkMode ? 'dark-text' : 'light-text'"
                    >
                      <u> Should I IPO My Business? </u></a
                    >
                    <p class="profile_sm mt-2">IPO Fundamentals</p>
                  </div>
                  <div class="col-md-2 col-sm-2 col-3">
                    <img
                      class="w-100 pt-4 img_ar"
                      src="../../../assets/images/Vector-arrow.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div
                class="bg_sl mb-3"
                [ngClass]="darkMode ? 'dark-bg' : 'light-profile-bg '"
              >
                <div class="row">
                  <div class="col-md-10 col-sm-10 col-9">
                    <a
                      href="#"
                      class="is-it_a"
                      [ngClass]="darkMode ? 'dark-text' : 'light-text'"
                    >
                      <u> FoolProofing My Business </u></a
                    >
                    <p class="profile_sm mt-2">Proofing Fundamentals</p>
                  </div>
                  <div class="col-md-2 col-sm-2 col-3">
                    <img
                      class="w-100 pt-4 img_ar"
                      src="../../../assets/images/Vector-arrow.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <h5>My courses</h5>
            <div class="row">
              <div class="col-md-4 col-sm-4 col-12 mar_gin">
                <div
                  class="card_detail"
                  [ngClass]="darkMode ? 'dark-card-bg' : 'light-card-bg'"
                >
                  <div class="row">
                    <div class="col-md-12">
                      <img
                        class="pif_img"
                        src="../../../assets/images/PIF.png"
                        alt=""
                      />
                      <div class="px-2 py-1">
                        <p class="master_p">MASTERING CAPITAL WISDOM</p>
                        <p class="capital_p">CAPITAL AWAKENING</p>
                        <hr />
                        <p class="short_corse_p">SHORT COURSE</p>
                        <div class="row">
                          <div class="col-md-4 col-sm-4 col-4">
                            <small class="thr_lesson_sm">3 lessons</small>
                          </div>
                          <div class="col-md-8 col-sm-8 col-8 text-left">
                            <small class="thr_lesson_sm">1 : 13 hours</small>
                          </div>
                        </div>
                        <p class="lorem_sm">
                          Lorem Ipsum is simply dummy text of the printing and
                          typesetting industry. Lorem Ipsum has been the
                          industry’s standard dummy text ever since the 1500s,
                          when an unknown printer took a galley of type and
                          scrambled it to make a type specimen book. Copy
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-12 mar_gin">
                <div
                  class="card_detail"
                  [ngClass]="darkMode ? 'dark-card-bg' : 'light-card-bg'"
                >
                  <div class="row">
                    <div class="col-md-12">
                      <img
                        class="pif_img"
                        src="../../../assets/images/PIF1.png"
                        alt=""
                      />
                      <div class="px-2 py-1">
                        <p class="master_p">Road To IPO</p>
                        <p class="capital_p">Preparation</p>
                        <hr />
                        <p class="short_corse_p">SHORT COURSE</p>
                        <div class="row">
                          <div class="col-md-4 col-sm-4 col-4">
                            <small class="thr_lesson_sm">3 lessons</small>
                          </div>
                          <div class="col-md-8 col-sm-8 col-8 text-left">
                            <small class="thr_lesson_sm">1 : 13 hours</small>
                          </div>
                        </div>
                        <p class="lorem_sm">
                          Lorem Ipsum is simply dummy text of the printing and
                          typesetting industry. Lorem Ipsum has been the
                          industry’s standard dummy text ever since the 1500s,
                          when an unknown printer took a galley of type and
                          scrambled it to make a type specimen book. Copy
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-12 mar_gin">
                <div
                  class="card_detail"
                  [ngClass]="darkMode ? 'dark-card-bg' : 'light-card-bg'"
                >
                  <div class="row">
                    <div class="col-md-12">
                      <img
                        class="pif_img"
                        src="../../../assets/images/PIF2.png"
                        alt=""
                      />
                      <div class="px-2 py-1">
                        <p class="master_p">Mastering Maket Voltality</p>
                        <p class="capital_p">Understanding The Market</p>
                        <hr />
                        <p class="short_corse_p">SHORT COURSE</p>
                        <div class="row">
                          <div class="col-md-4 col-sm-4 col-4">
                            <small class="thr_lesson_sm">3 lessons</small>
                          </div>
                          <div class="col-md-8 col-sm-8 col-8 text-left">
                            <small class="thr_lesson_sm">1 : 13 hours</small>
                          </div>
                        </div>
                        <p class="lorem_sm">
                          Lorem Ipsum is simply dummy text of the printing and
                          typesetting industry. Lorem Ipsum has been the
                          industry’s standard dummy text ever since the 1500s,
                          when an unknown printer took a galley of type and
                          scrambled it to make a type specimen book. Copy
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div>
        <div class="row">
          <div class="col-md-8 col-sm-8 col-12">
            <div
              class="bg_wh"
              [ngClass]="darkMode ? 'dark-card-bg' : 'light-card-bg'"
            >
              <div class="row">
                <div class="col-md-5">
                  <img
                    class="w-100 img-cur"
                    src="../../../assets/images/Mask Group.png"
                    alt=""
                  />
                  <div class="d-flex justify-content-end cam_mar">
                    <span class="camera_img">
                      <img
                        class="img_camera"
                        src="../../../assets/images/camera.png"
                        alt=""
                      />
                    </span>
                  </div>
                </div>
                <div class="col-md-7 mar_gin"></div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-12 mar_gin">
            <div
              class="bg_wh"
              [ngClass]="darkMode ? 'dark-card-bg' : 'light-card-bg'"
            >
              <div class="row">
                <div class="col-md-6">
                  <h6>Dark Mode</h6>
                  <br />
                  <h6>Select font</h6>
                </div>
                <div class="col-md-6 text-right">
                  <label class="switch">
                    <input type="checkbox" />
                    <span class="slider round"></span>
                  </label>
                  <br />
                  <div class="dropdown">
                    <button class="dropbtn">
                      <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
