<app-header></app-header>
<section class="dashbaord">
    <div class="container-fluid px-5">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Buy/Sell</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Partnerships</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Tenders</a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="sell-side-card">
                    <img src="assets/images/Profile1.png">
                    <h6>Alma lawson</h6>
                    <p class="mb-0">jackson.graham@example.com</p>
                    <div class="row p-3 ">
                        <div class="col-md-6 p-2 sell-line">
                            <p class="m-0"><b>358</b> <br> Connection
                            </p>
                        </div>
                        <div class="col-md-6 p-2 sell-line2">
                            <p class="m-0"><b>25</b><br> Views
                            </p>
                        </div>
                    </div>
                    <ul class="m-0 pl-3 text-left">
                        <li class="li_size"><img class="mr-3" src="assets/images/Group.png">bdtech.com/jackson.graham</li>
                        <li class="mt-2 li_size"><img class="mr-3" src="assets/images/link.png">jackson.graham</li>
                        <!-- <li><img src="assets/images/link.png">jackson.graham</li> -->
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content" id="myTabContent">
                    <!-- Tab 1   -->
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                        <div class="row mt-4">
                            <div class="col-md-4">
                                <div class="widget-box ">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="assets/images/Icons.png" class="img_logo">
                                        </div>
                                        <div class="col-md-9 mt-3 ">
                                            <p>
                                                Total Sales<br>
                                                <b>$45K</b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="widget-box">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="assets/images/Icons (1).png" class="img_logo">
                                        </div>
                                        <div class="col-md-9 mt-3">
                                            <p>
                                                Total Profit<br>
                                                <b>$45K</b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="widget-box ">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="assets/images/Icons (2).png" class="img_logo">
                                        </div>
                                        <div class="col-md-9 mt-3">
                                            <p>
                                                Total Cost<br>
                                                <b>$45K</b>
                                            </p>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12">
                                <h5>History</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-9 p-2">
                                <div class="history-box">
                                    <table class="table">
                                        <thead class="sell-history-table">
                                            <tr class="tr_bord ">
                                                <td scope="col" colspan="3">Purchases</td>
                                                <td scope="col">Quantity</td>
                                                <td scope="col">Seller</td>
                                                <td scope="col">Amount</td>
                                                <td scope="col">Status</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="td_bord">
                                                <td scope="row" colspan="3">Cloud Software</td>
                                                <td>01</td>
                                                <td>xxxx</td>
                                                <td>$415.01</td>
                                                <td class="sel-done-table text-success">Done</td>
                                            </tr>
                                            <tr>
                                                <td scope="row" colspan="3">Audting MS</td>
                                                <td>01</td>
                                                <td>xxxx</td>
                                                <td>$326.51</td>
                                                <td class="sel-done-table text-success">Done</td>
                                            </tr>
                                            <tr>
                                                <td scope="row" colspan="3">Logistics Software</td>
                                                <td>2</td>
                                                <td>xxxx</td>
                                                <td>$60.25</td>
                                                <td class="sel-Pending-table text-danger">Pending</td>
                                            </tr>
                                            <tr>
                                                <td scope="row" colspan="3">Paint</td>
                                                <td>4</td>
                                                <td>xxxx</td>
                                                <td>$86.98</td>
                                                <td class="sel-Pending-table text-danger">Pending</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-------------------------------Search:---------------------->
                            <div class="col-md-3 p-2">
                                <div class="row ">
                                    <div class="search ml-3 pl-2">
                                        <div class="col-md-12">
                                            <h5 class="pt-3">Search:</h5>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <img src="assets/images/Image8.png">
                                            </div>
                                            <div class="col-md-9 mt-3 ">
                                                <p><b>Brooklyn Simmons</b><br> brooklyn.s@gmail.com
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <img src="assets/images/Image88.png">
                                            </div>
                                            <div class="col-md-9 mt-3">
                                                <p><b>Jacob Jones</b><br> jacob.j@gmail.com
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <img src="assets/images/Image888.png">
                                            </div>
                                            <div class="col-md-9 mt-3">
                                                <p><b>Leslie Alexander</b><br> leslie.a@gmail.com
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12">
                                <h5>Marketplace</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <img class="img_pos" src="assets/images/Rectangle 208.png">
                                <p class="p_pos">Arlene McCoy</p>

                            </div>
                            <div class="col-md-3">
                                <img class="img_pos" src="assets/images/Rectangle 208 (1).png">
                                <p class="p_pos1">Cody Fisher</p>
                            </div>

                            <div class="col-md-3">
                                <img class="img_pos" src="assets/images/Rectangle 208 (2).png">
                                <p class="p_pos">Kristin Watson</p>
                            </div>
                            <div class="col-md-3">
                                <img class="img_pos" src="assets/images/Rectangle 208 (3).png">
                                <p class="p_pos1">Kristin Watson</p>
                            </div>
                        </div>
                    </div>
                    <!-- Tab 2   -->
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row mt-4">
                            <div class="col-md-4">
                                <div class="widget-box ">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="assets/images/Icons9.png" class="img_logo">
                                        </div>
                                        <div class="col-md-9 mt-3 ">
                                            <p>
                                                Total Partnerships Secured<br>
                                                <b>10</b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="widget-box">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="assets/images/Icons99.png" class="img_logo">
                                        </div>
                                        <div class="col-md-9 mt-3">
                                            <p>
                                                Rejected Invitations<br>
                                                <b>30</b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="widget-box ">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="assets/images/Icons999.png" class="img_logo">
                                        </div>
                                        <div class="col-md-9 mt-3">
                                            <p>
                                                Pending Invitations<br>
                                                <b>15</b>
                                            </p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12">
                                <h5>History</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9 p-2">
                                <div class="history-box">
                                    <table class="table">
                                        <thead class="sell-history-table">
                                            <tr class="tr_bord ">
                                                <td scope="col" colspan="3">Name</td>
                                                <td scope="col">Company</td>
                                                <td scope="col">Status</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="td_bord">
                                                <td scope="row" colspan="3">Cloud Software</td>
                                                <td>xxxx</td>
                                                <td class="text-primary">Accepted</td>
                                            </tr>
                                            <tr>
                                                <td scope="row" colspan="3">Audting MS</td>
                                                <td>xxxx</td>
                                                <td class="text-primary">Accepted</td>
                                            </tr>
                                            <tr>
                                                <td scope="row" colspan="3">Logistics Software</td>
                                                <td>2</td>
                                                <td class="text-danger">Rejected</td>
                                            </tr>
                                            <tr>
                                                <td scope="row" colspan="3">Paint</td>
                                                <td>4</td>
                                                <td class="text-warning">Pending</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-------------------------------Search:---------------------->
                            <div class="col-md-3 p-2">
                                <div class="row ">
                                    <div class="search ml-3 pl-2">
                                        <div class="col-md-12">
                                            <h5 class="pt-3">Search:</h5>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <img src="assets/images/Image8.png">
                                            </div>
                                            <div class="col-md-9 mt-3 ">
                                                <p><b>Brooklyn Simmons</b><br> brooklyn.s@gmail.com
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <img src="assets/images/Image88.png">
                                            </div>
                                            <div class="col-md-9 mt-3">
                                                <p><b>Jacob Jones</b><br> jacob.j@gmail.com
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <img src="assets/images/Image888.png">
                                            </div>
                                            <div class="col-md-9 mt-3">
                                                <p><b>Leslie Alexander</b><br> leslie.a@gmail.com
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="bg_wht">
                                    <div class="bord">
                                        <h5 class="search_h5">Search: </h5>
                                        <a class="result"> 10 Result</a>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-1">
                                            <img src="../../../../../assets/images/3chat.png" alt="">
                                        </div>
                                        <div class="col-md-11">
                                            <div class="border_bt">
                                                <div>
                                                    <p class="list_name">Dianne Russell</p>
                                                    <small class="specialist">Lawyer</small>
                                                </div>
                                                <div>
                                                    <a class="contact_btn">Contact</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- Tab 3 -->
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="tab_three_bg">
                            <div class="row">
                                <div class="col-md-12 text-left">
                                    <div class="borde_pro">
                                        <h5 class="project_list">Projects List</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-1">
                                    <img class="chat_img" src="../../../../../assets/images/5chat.png" alt="">
                                </div>
                                <div class="col-md-11 half_bord">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="d-flex">
                                                <p class="name_p">Aurzora</p>
                                                <p class="bids_p">10 Bids</p>
                                            </div>
                                            <p class="para_description">The Aurora Project aims to.. <br> <br> Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="viewmore_section">
                                                <p class="bids_p">View more</p>
                                                <a class="place_blid_btn">Place Bid</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-1">
                                    <img class="chat_img" src="../../../../../assets/images/5chat.png" alt="">
                                </div>
                                <div class="col-md-11 half_bord">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="d-flex">
                                                <p class="name_p">GoodTrace</p>
                                                <p class="bids_p">18 Bids</p>
                                            </div>
                                            <p class="para_description">The GoodTrace Project aims to.. <br> <br> Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud
                                                amet.
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="viewmore_section">
                                                <p class="bids_p">View more</p>
                                                <a class="place_blid_btn">Place Bid</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-1">
                                    <img class="chat_img" src="../../../../../assets/images/5chat.png" alt="">
                                </div>
                                <div class="col-md-11">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="d-flex">
                                                <p class="name_p">Plutonium</p>
                                                <p class="bids_p">20 Bids</p>
                                            </div>
                                            <p class="para_description">The GoodTrace Project aims to.. <br> <br> Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud
                                                amet.
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="viewmore_section">
                                                <p class="bids_p">View more</p>
                                                <a class="place_blid_btn">Place Bid</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12 d-flex justify-content-end">
                                <nav aria-label="Page navigation example" class="pagition">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link bordre_strt" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item">
                                            <a class="page-link bordre_end" href="#" aria-label="Next">
                                                <img class="pagination_img" src="../../../../../assets/images/pagination.png" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
