:root {
  --light-primary-bg-color: #f6f6f6;
  --light-secondary-bg-color: #ffffff;
  --light-third-bg-color: #f9f9f9;
  --light-input-bg-color: #f6f6f6;
  --light-primary-text-color: #000000;
  --light-secondary-text-color: #ffffff;
  --light-side-bar-text-color: #c0c0c0;
  --login-header-bg-color: #f5f5f5;
  --login-sidebar-bg-color: #28a0a4;
  --light-small-section-bg: #f9f9f9;
  --light-profile-bg: #f4f4f4;
}
.light-bg {
  background: var(--light-primary-bg-color);
  color: var(--light-primary-text-color);
}
.light-bg-col {
  background: var(--light-secondary-bg-color);
  color: var(--light-side-bar-text-color);
}
.light-text {
  text: var(--light-primary-text-color);
}
.light-card-bg {
  background: var(--light-secondary-bg-color);
  color: var(--light-primary-text-color);
}
.light-nest-card-bg {
  background: var(--light-third-bg-color);
}
.light-side-bar-text {
  background: var(--light-secondary-bg-color);
  color: var(--light-side-bar-text-color);
}
.light-login-header-bg {
  background: var(--login-header-bg-color);
}
.light-login-sidebar-bg {
  background: var(--login-sidebar-bg-color);
}
.light-bg-log {
  background: var(--light-input-bg-color);
}
.light-small-section-bg {
  background: var(--light-small-section-bg);
  color: var(--dark-secondary-text-color);
}
.light-profile-bg {
  background: var(--light-profile-bg);
}
