@media screen and (min-device-width: 300px) and (max-device-width: 499px) {
  section#dashboard-bg {
    padding: 0;
  }
  .bg_col-1 {
    padding: 23px 10px 31px 10px;
  }
}
@media only screen and (max-width: 1499px) {
  .bg_col-1 {
    height: 89vh;
}
}
